/dist/
/export/
/storage/backup/
/storage/export/
/public/sitemap.xml
/public/css/
/public/js/
/public/vendor/
/db-dumps/
/*.patch

*.log
*.swp
.DS_Store
.phpstorm.meta.php
_ide_helper.php
vite.config.js.timestamp-*

.phpunit.cache
node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor/
/build/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.fleet
.idea
.vscode
